.todos {
    display: flex;
}

.todos > div {
    margin-right: 5px;
}

.todos {
    display: flex;
    color: red;
    cursor: pointer;
}

.title {
    flex-basis: 315px;
    flex-grow: 0;
}

.completed {
    text-decoration: line-through;
    color: grey;
}