<header>
  <p>TODO LIST NGRX</p>
  <HR>
  <input placeholder="New task" autofocus="" [(ngModel)]="newTodoTitle" (keyup.enter)="createTodo(newTodoTitle, newTodoDescription)">
  <input placeholder="Description" autofocus="" [(ngModel)]="newTodoDescription" (keyup.enter)="createTodo(newTodoTitle, newTodoDescription)">
  <input type="button" value="+" (click)="createTodo(newTodoTitle, newTodoDescription)">
</header>
<HR>
<section>
  <div class="todos" *ngFor="let todo of todos$ | async">
    <div><input type="checkbox" (click)="switchTodoCompleted(todo.id)" [checked]="todo.completed"></div>
    <div class="title" routerLink="/todos/{{todo.id}}" [class.completed]="todo.completed">{{todo.title}}</div>
    <input type="button" value="X" (click)="deleteTodo(todo.id)">
  </div>
  <HR>
  <router-outlet></router-outlet>
</section>
<footer></footer>
